.App{
  font-family: sans-serif;
  text-align:center;
  }
.form{
  display:flex;
  background-color: rgb(107, 22, 57);
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border:2px solid black;
  width: 200px;;
  margin: 5px auto;
  padding: 10px;
  }
table{
  width: 100%;
  }
table, td {
  border:1px solid black;
  border-collapse: collapse;
  }
.result {
  width: 50%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  